body {
    font-family: 'Ubuntu', sans-serif;
}

.gallery_img {
    width: 100%;
    height: 400px;
    transition: 0.6s;
}

.gallery_img:hover {
    transform: scale(1.05);
    border-radius: 12px;
}

.header_bg {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/img/main_bg.webp');
    max-width: 644px;
    height: 686px;
    background-size: cover;
    margin: 0 auto;
    text-align: center;
}

.header_title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    height: 80%;
    font-size: 2rem;
    margin: 0;
}

.header_subtitle {
    margin: 0;
    color: red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
}

.timer {
    margin: 2rem 0;
}

.btn {
    border-radius: 30px;
}

.order_btn {
    display: flex;
    justify-content: center;
}

.section_title {
    text-align: center;
}

.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 1rem 0;
}

.product_description {
    text-align: left;
}

.product:before {
    content: '-40%';
    position: absolute;
    right: 2rem;
    top: 1rem;
    height: 40px;
    background-color: #FF4A4A;
    width: 40px;
    border-radius: 50%;
    font-weight: 100;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product_title {
    text-align: center;
    font-size: 1.6rem;
    margin: 1rem 0 0 0;
}

.product_price {
    display: flex;
    font-size: 2rem;
    justify-content: center;
}

.price_old {
    text-decoration: line-through;
    opacity: 0.5;
}